/* leny/aklèt
 *
 * /src/styles/play.scss - Play styles
 *
 * coded by leny
 * started at 29/05/2022
 */

.word {
    border-radius: .15rem;
    background: hsl(0, 0%, 48%);
    font-family: monospace;
}

.letter {

    & + .letter {
        border-left: 1px dotted silver;
    }
}
