/* leny/aklèt
 *
 * /src/styles/play.scss - Play styles
 *
 * coded by leny
 * started at 29/05/2022
 */

.word {
    border-radius: .15rem;
    background: hsl(171, 100%, 41%);
    font-family: monospace;
}

.letter {
    & + .letter {
        border-left: 1px dotted hsl(171, 100%, 96%);
    }
}
